body{
    background-color:rgb(189, 195, 202);
}

h1{
    text-shadow:3px 3px 4px red; /* horizontal and vertical offset and blur */
    text-shadow:3px 3px 4px red, -3px -8px 4px rgb(65, 62, 187); /* can have double shadow. they are coma separated */
    font-size: 3em
}

#box{
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 3px 3px 5px;
}