/* google fonts website has more example fonts to use :https://fonts.google.com/ 
   the goole fonts api has to be linked to our html to use any of their fonts i.e google sans use below */

/* for fonts being available on the local machine - here we can also rename the fonts - see comment in the html file */
/* @font-face{
    src:url(fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
    font-family: googlebestfont; 
}*/
/* @font-face{
    src:url(fonts/PlaywriteAUVICGuides-Regular.ttf);
    font-family: pwag; 
}*/


   body{
    background-color:lightslategray;
}
h1{
    color:white;
    font-family: "google sans", verdana, arial; /* arial is the fall-back font in case the first is not available */
}

p{
    font-family:"Playwrite AU VIC Guides", "lucida console", "courier new";
    font-size: 1em; /* em is the standard unit 1em means 100%. can also use px unit but it scales differently */
    font-weight: bold;
}