/* this file is used to select specific parts a html that links it to apply css properties */

/* id selectors use the # notation and the class selector use the dot notation */
body{
    background-color:black;
}
h1{
    color:white
}
#p1{
    color:white;
}
#p2{
    color:red;
}
#p3{
    color:green;
}
#p4{
    color:blue;
}
/* overwites the above properties applies to paragragh p4 */
#p4{
    color:orange;
}


/* css class properpies - it wont be applies because id selectors have 
   a higher specificity than class selector regardless of where they are written in the stylesheet */
.odd{
    color:white;
}
.even{
    color:red;
}